.page{
   min-height: 100vh;
   display: flex;
   align-items: center;
   position: relative;
   flex-direction: column;

   background: #000;
   z-index: 1;
}
.main{
   min-height: 100vh;
   display: flex;
   align-items: center;
   margin-bottom: 200px;

   &_text{
      max-width: 650px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1{
         text-align: center;

         font-weight: 600;
         font-size: 60px;
         line-height: 60px;
         letter-spacing: -4%;
         color: #fff;
         margin-bottom: 10px;

      }
      h4{
         text-align: center;
         font-size: 20px;
         margin-bottom: 20px;
         font-weight: 200;
      }
   }

   &_bg{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      &_circle{
       
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         width: 800px;
         height: 800px;
         border: 1px solid #fff;
         border-radius: 50%;
         div{
            position: relative;
            height: 100%;
         }

         &:nth-child(2){
            top: -40px;
            width: 900px;
            height: 900px;
         }
         &:nth-child(3){
            top: -80px;
            width: 1000px;
            height: 1000px;
         }
      }
   }
   @media screen and (max-width:1040px) {

      &_text{

         h1{
            font-size: 38px;
            line-height: 30px;
   
         }
         h4{
            font-size: 14px;
         }
      }

      &_bg{

         &_circle{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 600px;
            height: 600px;
            border: 1px solid #fff;
            border-radius: 50%;
            div{
               position: relative;
               height: 100%;
            }
            top:160px;
   
            &:nth-child(2){
               top: 120px;
               width: 700px;
               height: 700px;
            }
            &:nth-child(3){
               top: 80px;
               width: 800px;
               height: 800px;
            }
         }
      }
   }
}

.find{
   width: 100%;

   &_headline{
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      margin-bottom: 20px;
      h2{
         font-size: 36px;
         font-weight: 600;

         span{
            color:lightblue;
         }
      }
   }

   &_splite_block{
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
      margin-bottom: 20px;
   }
   &_sized_block{
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 10px;
   }
   @media screen and (max-width:1040px) {
      &_splite_block{
         display: grid;
          grid-template-columns: 1fr;
         
      }
      &_sized_block{
         display: grid;
         grid-template-columns: 1fr;
      }
   }
   &_card{
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 1px solid #ffffff14;
      background: #171717b5;
      min-height: 200px;
      border-radius: 14px;

   
      &_images{
         display: flex;
         gap: 5px;
         margin-top: 20px;
         justify-content: space-evenly;
      }
      &_favorite{
         position: relative;
         margin: 0 auto;
         z-index: 1;
         &_artict{
            opacity: .75;
            position: absolute;
            z-index: -1;

            top: 0;
            right: -80px;
         }
         &_mechanik{
            position: absolute;
            z-index: -1;
            opacity: .65;
            left: -80px;
            top: 0;
         }
      }
      &_star{
         margin-left: auto;
         margin-top: auto;
      }
      &_globe{
         margin: auto;
      }
      h4{
         margin-bottom: 10px;
         font-size: 24px;
         font-weight: 400;
      }
   }
}


.navbar{
   z-index: 100;
   position: fixed;
   width: 100%;
   padding-top: 20px;
   &_mobile{
      display: none;
   }
   @media screen and (max-width:650px) {
      &_hidden{
         display: none;
      }
      &_mobile{
         display: block;
      }
   }
   &_signOut{
      padding: 12px;
      background: #5d5dff;
      color: #fff;
      width: 100%;
      border-radius: 8px;
      font-weight: 500;
   }
   &_menu{
      position: relative;

      &_avatar{
         width: 35px;
         height: 35px;

         cursor: pointer;
      }

      &_user{
         h2{
            font-size: 14px;
            font-weight: 500;
         }
         p{
            font-size: 12px;
            font-weight: 200;
         }

      }  

      &_block{
         position: absolute;
         left: -200px;
         background: #171717;
         border-radius: 8px;
         margin-top: 20px;
         padding: 10px;
         width: 200px;
         a{
            width: 100%;
            padding: 12px 0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
         }
       a:hover{
         background: #4d4d4db5;
         transition: .2s ease-in-out;
         }
      }
   }

   &_logo{
      
      display: flex;
      align-items: center;
      gap: 10px;
      a{
         color: #fff;
         font-weight: 500;
      }
   }

   &_navigation{
      display: flex;
      align-items: center;
      gap: 15px;
      margin-left: auto ;
      text-align: center;

      a{
         color: #fff;
         font-weight: 500;
      }
   }
}
.footer{
   margin-top: 150px;
   border-top: 1px solid #6f6f6f;
   margin-bottom: 50px;
   &_navigation{
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 20px 0;

      a{
         color: #fff;
      }
   }
   &_logo{
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: 10px;
      a{
         color: #fff;
         font-weight: 500;
      }
   }
   &_rights{
      margin: 20px 0;
      font-size: 12px;
      font-weight: 200;
      padding-bottom: 20px;
   }
}

.setting{
   margin-top: 150px;
   h2{
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;

   }
   form{
      max-width: 1000px;
      margin: 0 auto;
   }
   &_image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      h4{
         font-size: 14px;
         margin-bottom: 5px;
         font-weight: 200;
      }
   }
   &_buttons{
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      button{
         padding: 12px 16px;
         border-radius: 8px;
         background: #fff;
         color: #000;
         font-weight: 600;
         font-size: 16px;
         width: 125px;
         transition: .2s ease-in-out;

         &:hover{
            
            opacity: .8;
         }
      }
   }
   &_avatar{
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      h2{
         margin-bottom: 0;
         font-size: 24px;
         font-weight: 600;
      }
      h3{
         font-size: 14px;
         font-weight: 200;
      }
      h4{
         font-size: 16px;
         font-weight: 400;
      }
      @media screen and (max-width:650px) {
         h2{
            font-size: 20px;
         }
         h3{
            font-size: 12px;
         }
         h4{
            font-size: 14px;
         }
      }
   }
   &_details{
      padding: 20px;
      background: #171717b5;
      border-radius: 12px;
      margin-bottom: 20px;

      &_block{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 10px;
         justify-content: space-between;
      }
      @media screen and (max-width:650px) {
         &_block{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 10px;
            justify-content: space-between;
         }
      }
   }
   &_input{
      display: flex;
      flex-direction: column;
      gap: 5px;
      
      input{
         background-color: #4d4d4db5;
         padding: 12px;
         border-radius: 8px;
         &:disabled {
          opacity: .5;  
          }
      }
   }

}


.actionstack{
   display: flex;
   flex-direction: column;
   &_comment{
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
      p{
         font-size: 16px;
      }
   }
   &_like{
      position: absolute;
      top: 20px;
      right: 50px;
      display: flex;
      align-items: center;
      gap: 0px;
      p{
         margin-left: -10px;
         font-size: 24px;
      }
   }
   &_commentInput{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      input{
         width: 100%;
         font-size: 14px;
         padding: 12px 16px;
         color: #fff;
         font-weight: 400;
         border-radius: 8px;
      }
      button{
         padding: 12px 24px;
         color: #000;
         background-color: #fff;
         border-radius: 8px;
         font-weight: 500;
         transition: .2s ease-in-out;
         &:hover{
            opacity: .8;
         }
      }
   }
}


.myStacks{
   margin-top: 150px;

   &_modal{
      display: flex;
      flex-direction: column;
      text-align: center;
      h2{
         font-weight: 600;
         font-size: 36px;
      }
      p{
         margin-bottom: 50px;
         text-align: center;
         font-size: 16px;
         font-weight: 400;
      }
      @media screen and (max-width:650px) {

         h2{
            font-size:20px;
         }
         p{
            font-size: 14px;
         }
      }
      &_cancel{
         padding:12px 16px;
         background: red;
         color: #fff;
         border-radius: 8px;
      font-weight: 500;
      transition: .2s ease-in-out;
      &:hover{
         opacity: .7;
      }
      }
      &_sure{
      font-weight: 500;
      transition: .2s ease-in-out;

         padding:12px 16px;
         background: darkgreen;
         color: #fff;
         border-radius: 8px;

         &:hover{
            opacity: .7;
         }
      }
      &_buttons{
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
      &_block{
         background: #fff;
         padding: 20px;
         @media screen and (max-width:650px) {
            max-width: 80%;
         }
         border-radius: 8px;
         color: 000;

      }
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background: #0000007d;
      z-index: 100;
      color: #000;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &_block{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
      gap: 20px;
      justify-content: space-between;
   }
   @media screen and (max-width:650px) {
      &_block{
         grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
      }
   }
   &_createdStack{
      background: #002986;
      height: 200px;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      transition: .2s ease-in-out;
      h2,img{
         opacity: .8;
      }
      &:hover{
      background: #02329f;
         
      }
   }
   &_card{
      background: #171717b5;
      height: 200px;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      color: #fff;

      &_status{
  
         &_moderation{
            background: #002555;
            padding: 4px;
            max-width: 95px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            margin-bottom: 10px;
            span{
               color: #fff;
               font-size: 13px;
               font-weight: 400;
            }
         }
         &_published{
            background: #002555;
            padding: 4px;
            max-width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            margin-bottom: 10px;
            span{
               color: #fff;

               font-size: 13px;
               font-weight: 400;
            }
         }
      }
      &_actionDelete{
         margin-left: auto;
      }
      &_action{
         display: flex;
         align-items: center;
         gap: 5px;
         span{
            font-size: 18px;
            font-weight: 500;
         }
      }
      &_buttom{
         margin-top: auto;
         display: flex;
         gap: 20px;
         width: 100%;

         button,a{
            background: transparent;
            padding: 4px;
            color: #fff;
            border-radius: 4px;
            transition: .2s ease-in-out;
            &:hover{
               background: #4d4d4db5;
            }
         }
      }
      &_avatar{
         display: flex;
         align-items: center;
         gap: 20px;
         h2{
            font-size: 20px;
            font-weight: 500;
            word-break: break-word;
         }
         a{
            color: #fff;
         }
         span{
            font-size: 12px;
            font-weight: 200;
            color: lightblue;
         }
      }
   }
}